Package: com.tune.shortcutstimeoutblocker
Name: Shortcuts Timeout Blocker
Depends: mobilesubstrate
Architecture: iphoneos-arm64
Description: Blocks Shortcuts Automation failed notifications.
Maintainer: tune
Author: tune
Section: Tweaks
Version: 0.0.1
